In [1]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [53]:
match=pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries (2).csv')

ipl=delivery.merge(match,left_on='match_id',right_on='id')
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

# scatterplot

In [3]:
top50=ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(50).index.tolist()
new_ipl=ipl[ipl['batsman'].isin(top50)]

In [4]:
runs=new_ipl.groupby('batsman')['batsman_runs'].sum()
balls=new_ipl.groupby('batsman')['batsman_runs'].count()

In [5]:
sr=(runs/balls)*100
sr=sr.reset_index()
sr

             batsman  batsman_runs
0     AB de Villiers    145.129059
1       AC Gilchrist    133.054662
2           AJ Finch    126.299213
3          AM Rahane    117.486549
4          AT Rayudu    123.014257
5        BB McCullum    126.318203
6           BJ Hodge    121.422376
7           CH Gayle    144.194313
8          DA Miller    137.709251
9          DA Warner    138.318401
10          DJ Bravo    122.286822
11         DJ Hussey    120.072661
12  DPMD Jayawardene    118.791064
13          DR Smith    132.279534
14      F du Plessis    124.161074
15         G Gambhir    120.361200
16        GJ Maxwell    157.564103
17         JH Kallis    105.936272
18         JP Duminy    121.970624
19        KA Pollard    140.621266
20     KC Sangakkara    118.469101
21        KD Karthik    123.008475
22           KK Nair    124.650161
23           M Vijay    120.028681
24        MEK Hussey    119.963592
25         MK Pandey    116.938453
26         MK Tiwary    114.127424
27          MS Dhoni    132.835821
28           NV Ojha    114.528024
29          PA Patel    112.718447
30          R Dravid    113.347237
31         RA Jadeja    118.792867
32         RG Sharma    128.497251
33        RV Uthappa    127.635135
34       S Badrinath    115.742972
35          S Dhawan    118.502496
36        SC Ganguly    101.734540
37          SE Marsh    130.109775
38          SK Raina    134.995548
39         SPD Smith    128.507127
40      SR Tendulkar    114.187867
41         SR Watson    134.838379
42         SS Tiwary    114.851485
43         SV Samson    122.403433
44        TM Dilshan    110.124164
45           V Kohli    126.588437
46          V Sehwag    148.827059
47           WP Saha    127.727646
48         YK Pathan    140.751445
49      Yuvraj Singh    126.390244

In [6]:
out=ipl[ipl['player_dismissed'].isin(top50)]
nouts=out['player_dismissed'].value_counts()

In [7]:
avg=(runs/nouts)
avg=avg.reset_index()
avg.rename(columns={'index':'batsman',0:'avg'},inplace=True)

In [8]:
avg=avg.merge(sr,on='batsman')

In [9]:
trace=go.Scatter(x=avg['avg'],y=avg['batsman_runs'],mode='markers',text=avg['batsman'],marker={'color':'#00a65a','size':15})

data=[trace]
layout=go.Layout(title='Avg vs batsman runs',xaxis={'title':'avg'},yaxis={'title':'batsman runs'})
fig=go.Figure(data,layout)

pyo.plot(fig,filename='scatterplot.html')

'scatterplot.html'

# Lineplot

In [14]:
temp_df=ipl[ipl['batsman']=='V Kohli']
performance=temp_df.groupby('season')['batsman_runs'].sum().reset_index()
performance

temp_df1=ipl[ipl['batsman']=='MS Dhoni']
performance1=temp_df1.groupby('season')['batsman_runs'].sum().reset_index()
performance1

   season  batsman_runs
0    2008           414
1    2009           332
2    2010           287
3    2011           392
4    2012           357
5    2013           461
6    2014           371
7    2015           372
8    2016           284
9    2017           290

In [15]:
trace=go.Scatter(x=performance['season'],y=performance['batsman_runs'],mode='lines')

data=[trace]
layout=go.Layout(title='V kohli IPL performance',xaxis={'title':'season'},yaxis={'title':'runs'})
fig=go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'

In [17]:
trace=go.Scatter(x=performance['season'],y=performance['batsman_runs'],mode='lines+markers',name='VK')
trace1=go.Scatter(x=performance1['season'],y=performance1['batsman_runs'],mode='lines+markers',name='MSD')


data=[trace,trace1]
layout=go.Layout(title='V kohli IPL performance',xaxis={'title':'season'},yaxis={'title':'runs'})
fig=go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'

In [18]:
# multilineplot
def batsman(*name):
    data=[]
    for i in name:
        temp_df=ipl[ipl['batsman']==i]
        performance=temp_df.groupby('season')['batsman_runs'].sum().reset_index()
        
        trace=go.Scatter(x=performance['season'],y=performance['batsman_runs'],mode='lines+markers',name=i)
        
        data.append(trace)
        
    layout=go.Layout(title='Batsman Runs Comparison',xaxis={'title':'season'},yaxis={'title':'runs'})
    fig=go.Figure(data,layout)
    pyo.plot(fig)

In [19]:
batsman('V Kohli','RG Sharma','DA Warner','MS Dhoni')

### Barplot

In [20]:
top10=ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10).index.tolist()
new_ipl=ipl[ipl['batsman'].isin(top10)]

In [22]:
runs=new_ipl.groupby('batsman')['batsman_runs'].sum().reset_index()

In [23]:
runs

          batsman  batsman_runs
0  AB de Villiers          3486
1        CH Gayle          3651
2       DA Warner          4014
3       G Gambhir          4132
4        MS Dhoni          3560
5       RG Sharma          4207
6      RV Uthappa          3778
7        S Dhawan          3561
8        SK Raina          4548
9         V Kohli          4423

In [24]:
trace=go.Bar(x=runs['batsman'],y=runs['batsman_runs'])

data=[trace]

layout=go.Layout(title='XYZ',xaxis={'title':'batsman'},yaxis={'title':'batsman_runs'})
fig=go.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'

# Types of bar graph
- nested bar graph
- stacked bar graph
- overlayed bar graph

In [29]:
top10=ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10).index.tolist()
new_ipl=ipl[ipl['batsman'].isin(top10)]

iw=new_ipl.groupby(['batsman','inning'])['batsman_runs'].sum().reset_index()
mask=iw['inning']==1
mask2=iw['inning']==2
one=iw[mask]
two=iw[mask2]

one.rename(columns={'batsman_runs':'1st inning'},inplace=True)
two.rename(columns={'batsman_runs':'2nd inning'},inplace=True)

final=one.merge(two,on='batsman')[['batsman','1st inning','2nd inning']]
final

C:\Users\DELL\AppData\Local\Temp\ipykernel_5052\373898887.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\DELL\AppData\Local\Temp\ipykernel_5052\373898887.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          batsman  1st inning  2nd inning
0  AB de Villiers        2128        1345
1        CH Gayle        2003        1623
2       DA Warner        2118        1896
3       G Gambhir        1699        2433
4        MS Dhoni        2232        1328
5       RG Sharma        2344        1863
6      RV Uthappa        1516        2262
7        S Dhawan        2262        1299
8        SK Raina        2647        1893
9         V Kohli        2391        2027

In [35]:
# overlay
trace=go.Bar(x=final['batsman'],y=final['1st inning'],name='1st inning',marker={'color':'#00a65a'})
trace1=go.Bar(x=final['batsman'],y=final['2nd inning'],name='2nd inning',marker={'color':'#a6a65a'})


data=[trace,trace1]
layout=go.Layout(title='inning wise scores',xaxis={'title':'batsman'},yaxis={'title':'runs'},barmode='overlay')
fig=go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'

In [36]:
# stack
trace=go.Bar(x=final['batsman'],y=final['1st inning'],name='1st inning',marker={'color':'#00a65a'})
trace1=go.Bar(x=final['batsman'],y=final['2nd inning'],name='2nd inning',marker={'color':'#a6a65a'})


data=[trace,trace1]
layout=go.Layout(title='inning wise scores',xaxis={'title':'batsman'},yaxis={'title':'runs'},barmode='stack')
fig=go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'

In [37]:
# nested
trace=go.Bar(x=final['batsman'],y=final['1st inning'],name='1st inning',marker={'color':'#00a65a'})
trace1=go.Bar(x=final['batsman'],y=final['2nd inning'],name='2nd inning',marker={'color':'#a6a65a'})


data=[trace,trace1]
layout=go.Layout(title='inning wise scores',xaxis={'title':'batsman'},yaxis={'title':'runs'})
fig=go.Figure(data,layout)

pyo.plot(fig)

'temp-plot.html'

### Bubble plot

In [38]:
top50=ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(50).index.tolist()
new_ipl=ipl[ipl['batsman'].isin(top50)]

In [45]:
new_ipl=new_ipl[new_ipl['batsman_runs']==6]
six=new_ipl.groupby('batsman')['batsman_runs'].count().reset_index()

In [48]:
x=avg.merge(six,on='batsman')

In [49]:
trace=go.Scatter(x=x['avg'],y=x['batsman_runs_x'],mode='markers',marker={'size':x['batsman_runs_y']})

data=[trace]

layout=go.Layout(title='bubble chart',xaxis={'title':'avg'},yaxis={'title':'sr'})
fig=go.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'

### box plot

In [55]:
match_agg=delivery.groupby('match_id')['total_runs'].sum().reset_index()
season_wise=match_agg.merge(match,left_on='match_id',right_on='id')[['match_id','total_runs','season']]
season_wise

     match_id  total_runs  season
0           1         379    2017
1           2         371    2017
2           3         367    2017
3           4         327    2017
4           5         299    2017
..        ...         ...     ...
631       632         277    2016
632       633         317    2016
633       634         302    2016
634       635         325    2016
635       636         408    2016

[636 rows x 3 columns]

In [56]:
trace=go.Box(x=season_wise['total_runs'],name='all season')
data=[trace]
layout=go.Layout(title='total score analysis',xaxis={'title':'total score'})
fig=go.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'

In [57]:
trace1=go.Box(x=season_wise[season_wise['season']==2017]['total_runs'],name='2017')
trace2=go.Box(x=season_wise[season_wise['season']==2008]['total_runs'],name='2008')

data=[trace1,trace2]
layout=go.Layout(title='total score analysis',xaxis={'title':'total score'})
fig=go.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'

### distplot

In [58]:
import plotly.figure_factory as ff

In [61]:
hist_data=[avg['avg']]
group_labels=['Avg']
fig=ff.create_distplot(hist_data,group_labels)
pyo.plot(fig)

'temp-plot.html'

In [62]:
hist_data=[avg['avg'],avg['batsman_runs']]
group_labels=['Avg','strike rate']
fig=ff.create_distplot(hist_data,group_labels)
pyo.plot(fig)

'temp-plot.html'

In [64]:
hist_data=[avg['avg'],avg['batsman_runs']]
group_labels=['Avg','strike rate']
fig=ff.create_distplot(hist_data,group_labels,bin_size=[10,20])
pyo.plot(fig)

'temp-plot.html'

### histogram

In [67]:
delivery=pd.read_csv('deliveries (2).csv')

x=delivery.groupby('batsman')['batsman_runs'].count()>150
x=x[x].index.tolist()

new=delivery[delivery['batsman'].isin(x)]

runs=new.groupby('batsman')['batsman_runs'].sum()
balls=new.groupby('batsman')['batsman_runs'].count()

sr=(runs/balls)*100

sr=sr.reset_index()
sr

             batsman  batsman_runs
0     A Ashish Reddy    142.857143
1           A Mishra     89.005236
2          A Symonds    124.711908
3    AA Jhunjhunwala     99.541284
4         AB Agarkar    111.875000
..               ...           ...
157          Y Nagar    105.166052
158  Y Venugopal Rao    113.872832
159        YK Pathan    140.751445
160      YV Takawale    104.918033
161     Yuvraj Singh    126.390244

[162 rows x 2 columns]

In [69]:
trace=go.Histogram(x=sr['batsman_runs'],name='strike rate')
data=[trace]
layout=go.Layout(title='sr')
fig=go.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'

In [70]:
trace=go.Histogram(x=sr['batsman_runs'],name='strike rate',xbins={'size':2})
data=[trace]
layout=go.Layout(title='sr')
fig=go.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'

In [71]:
trace=go.Histogram(x=sr['batsman_runs'],name='strike rate',xbins={'size':2,'start':50,'end':100})
data=[trace]
layout=go.Layout(title='sr')
fig=go.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'

### heatmap

In [72]:
six=delivery[delivery['batsman_runs']==6]
six=six.groupby(['batting_team','over'])['batsman_runs'].count().reset_index()
six

            batting_team  over  batsman_runs
0    Chennai Super Kings     1             5
1    Chennai Super Kings     2            17
2    Chennai Super Kings     3            37
3    Chennai Super Kings     4            34
4    Chennai Super Kings     5            41
..                   ...   ...           ...
271  Sunrisers Hyderabad    16            22
272  Sunrisers Hyderabad    17            18
273  Sunrisers Hyderabad    18            37
274  Sunrisers Hyderabad    19            42
275  Sunrisers Hyderabad    20            28

[276 rows x 3 columns]

In [73]:
trace=go.Heatmap(x=six['batting_team'],y=six['over'],z=six['batsman_runs'])
data=[trace]
layout=go.Layout(title='six heatmap')
fig=go.Figure(data,layout)
pyo.plot(fig)

'temp-plot.html'

In [74]:
dots=delivery[delivery['batsman_runs']==0]
dots=dots.groupby(['batting_team','over'])['batsman_runs'].count().reset_index()

from plotly import tools
trace1=go.Heatmap(x=six['batting_team'],y=six['over'],z=six['batsman_runs'].values.tolist())
trace2=go.Heatmap(x=dots['batting_team'],y=dots['over'],z=dots['batsman_runs'].values.tolist())

fig=tools.make_subplots(rows=1,cols=2,subplot_titles=["6's","0's"],shared_yaxes=True)

fig.append_trace(trace1,1,1)
fig.append_trace(trace2,1,2)

pyo.plot(fig)

C:\Users\DELL\anaconda3\lib\site-packages\plotly\tools.py:460: DeprecationWarning:

plotly.tools.make_subplots is deprecated, please use plotly.subplots.make_subplots instead

'temp-plot.html'